/* JUST FOR THIS DEMO */
html,body{ height:100%; }
body{ background:#4A90E2; display:flex; align-items:center; }

textarea{
    display:block;
    box-sizing: padding-box;
    overflow:hidden;

    padding:10px;
    width:250px;
    font-size:14px;
    f  margin:50px auto;d
border-radius:6px;
    box-shadow:2px 2px 8px rgba(0,0,0,.3);
    border:0;
}